.form {
    display: grid;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    gap: 22px;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .inputGroup {
    display: grid;
  }
  
  .input {
    padding: 12px 8px 12px 40px;
    font-size: 16px;
    transition: border 0.3s;
    border-radius: 5px;
    border: 1px solid var(--green);
    width: 360px;
    height: 40px;
    
  }
  
  .input:focus {
    border-color: var(--green);
    outline: none;
  }
  
  .error {
    color: var(--error);
    font-size: 0.875rem;
    margin-top: -0.5rem;
  }

  .button {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 34px 8px 34px;
  }

  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .iconWrapper {
    position: absolute;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 2;
    pointer-events: none;
  }
  
  .icon {
    color: var(--green);
  }
  




