.tag {
    display: inline-block;
    font-family: var(--font-famaly);
}

.white {
    color: var(--white); 
    text-decoration: none;
}

.green {
    color: var(--green);
    text-decoration: none;
}

