@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

:root {
  --black: #3B434E;
  --white: #FFFFFF;
  --primary: #7653FC;
  --primary-hover: #5439be;
  --red: #FC836D;
  --green: #18573B;
  --green-light: #C5E2D5;
  --font-family: "Noto Sans", serif;
  --gray-light: #EBEBEB;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  font-family: var(--font-family);
  background: #F5F6F8;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}




