.ghost {
    border: 1px solid var(--green); 
    background: transparent;
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--green); 
    transition: all 0.3s ease; 
    cursor: pointer; 
}

.ghost:hover { 
    background-color: var(--green-hover); 
    color: white;  
    transform: scale(1.02); 
}



.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.2s;
}

.green {
    color: var(--white);
    background-color: var(--green);

}


.green:hover {
    background-color: var(--green-hover);
}

.green:active {
    background-color: var(--green-click);
}


.arrow {
    display: block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transform: all 0.2s;
}